{% extends "base.html" %}
{% load static %}
{% block title %} Our Team{% endblock title %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/team.css' %}" />
{% endblock styles %}

{% block content %}
  <body class="team-page">
    <div class="nav-div">
      <div class="nav_left">
        <a href="{% url 'index' %}">
          <img
            class="nav_logo"
            src="{% static 'Icons/Layer 3.svg' %}"
            alt="Credard logo"
          />
        </a>

        <nav class="nav_menu">
          <ul class="nav_list">
            <li><a class="nav_link" href="{% url 'how-it-works' %}">How it Works</a></li>
            <li><a class="nav_link" href="{% url 'library' %}">Library</a></li>
            <li><a class="nav_link" href="{% url 'our-team' %}">The team</a></li>
            <li><a class="nav_link" href="{% url 'contact-us' %}">Contact us</a></li>
          </ul>
        </nav>
      </div>
      {% if request.user.is_authenticated %}
      <div class="nav_right">
        <a href="{% url 'saved-designs' %}" class="nav_login">
          <img src="{% static 'Icons/Bookmark.svg' %}" alt="bookmark" />
        </a>
        <a href="{% url 'profile' %}" class="nav_register">
          <img src="{% static 'Icons/profile.svg' %}" alt="profile" />
        </a>
        <form action="{% url 'logout' %}" method="POST">
          {% csrf_token %}
          <a href="{% url 'logout' %}"><button class="nav_register" type="submit">Logout</button></a>
        </form>
      </div>
      {% else %}
      <div class="nav_right">
        <a class="nav_login" href="{% url 'login' %}">Login</a>
        <a class="nav_register" href="{% url 'register' %}">Register</a>
      </div>
      {% endif %}
      <button id="hamburger-btn" class="nav_btn">
        <img src="{% static 'Icons/menu - ham.svg' %}" alt="" />
      </button>
    </div>
    <div class="nav_hamburger-menu">
      <nav id="hamburger-menu" class="ham_menu hide">
        {% if request.user.is_authenticated %}
        <ul>
          <li><a class="ham_link" href="{% url 'how-it-works' %}">How it works</a></li>
          <li><a class="ham_link" href="{% url 'library' %}">Library</a></li>
          <li>
            <a class="ham_link" href="{% url 'our-team' %}">The team</a>
          </li>
          <li><a class="ham_link" href="{% url 'contact-us' %}">Contact us</a></li>
        </ul>
        <div class="ham_auth">
          <a href="{% url 'saved-designs' %}" class="ham_link"> Saved Designs </a>
          <a href="{% url 'profile' %}" class="ham_link"> Profile </a>
          <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <a class="ham_link" href="{% url 'logout' %}">Logout</a>
          </form>  
        </div>
        {% else %}
        <ul>
          <li><a class="ham_link" href="{% url 'how-it-works' %}">Features</a></li>
          <li><a class="ham_link" href="{% url 'library' %}">Library</a></li>
          <li>
            <a class="ham_link" href="{% url 'our-team' %}">The team</a>
          </li>
          <li><a class="ham_link" href="{% url 'contact-us' %}">Contact us</a></li>
        </ul>
        <div class="ham_btns">
          <a class="ham_login" href="{% url 'login' %}">Login</a>
          <a class="ham_register" href="{% url 'register' %}">Register</a>
        </div>
        {% endif %}
      </nav>
    </div>
    <header class="team-page__header">
      <div class="team-page__header__container">
        <h2>Meet The Team</h2>
        <p>Get to know our team awesome talent.</p>
      </div>
    </header>
    <main class="team-page__body">
      <div class="team-page__body__container">
        <div class="member-profile">
          <img
            src="{% static 'images/Victoria.webp' %}"
            alt="member-profile"
            class="member-profile__img"
          />
          <div class="member-profile__author">
            <h4>Victoria Adedayo</h4>
            <p class="author__role">Frontend Developer</p>
          </div>
          <div class="member-profile__social-media">
            <a href="https://twitter.com/Vickish11">
              <img src="{% static 'Icons/Twitter.svg' %}" alt="Twitter" />
            </a>
            <a href="https://www.instagram.com/vickish11/">
              <img src="{% static 'Icons/team-Instagram.svg' %}" alt="Instagram" />
            </a>
            <a href="https://www.linkedin.com/in/victoria-adedayo/">
              <img src="{% static 'Icons/team-Linkedin.svg' %}" alt="LinkedIn" />
            </a>
          </div>
        </div>
        <div class="member-profile">
          <img
            src="{% static 'images/Ayobami-Tunwase.webp' %}"
            alt="member-profile"
            class="member-profile__img"
          />
          <div class="member-profile__author">
            <h4>Ayobami Tunwase</h4>
            <p class="author__role">Frontend Developer</p>
          </div>
          <div class="member-profile__social-media">
            <a href="https://twitter.com/TunwaseAyobami">
              <img src="{% static 'Icons/Twitter.svg' %}" alt="Twitter" />
            </a>
            <a href="#">
              <img src="{% static 'Icons/team-Instagram.svg' %}" alt="Instagram" />
            </a>
            <a href="https://www.linkedin.com/in/ayobami-tunwase-83a21b202">
              <img src="{% static 'Icons/team-Linkedin.svg' %}" alt="LinkedIn" />
            </a>
          </div>
        </div>
        <div class="member-profile">
          <img
            src="{% static 'images/Obinna-Anya.webp' %}"
            alt="member-profile"
            class="member-profile__img"
          />
          <div class="member-profile__author">
            <h4>Obinna Anya</h4>
            <p class="author__role">Backend Developer</p>
          </div>
          <div class="member-profile__social-media">
            <a href="https://twitter.com/SidKay_">
              <img src="{% static 'Icons/Twitter.svg' %}" alt="Twitter" />
            </a>
            <a href="#">
              <img src="{% static 'Icons/team-Instagram.svg' %}" alt="Instagram" />
            </a>
            <a href="https://www.linkedin.com/in/sidneyanya/">
              <img src="{% static 'Icons/team-Linkedin.svg' %}" alt="LinkedIn" />
            </a>
          </div>
        </div>
        <div class="member-profile">
          <img
            src="{% static 'images/Diligwe.webp' %}"
            alt="member-profile"
            class="member-profile__img"
          />
          <div class="member-profile__author">
            <h4>Ezedigwe Odilichukwu</h4>
            <p class="author__role">Frontend Developer</p>
          </div>
          <div class="member-profile__social-media">
            <a href="#">
              <img src="{% static 'Icons/Twitter.svg' %}" alt="Twitter" />
            </a>
            <a href="#">
              <img src="{% static 'Icons/team-Instagram.svg' %}" alt="Instagram" />
            </a>
            <a href="#">
              <img src="{% static 'Icons/team-Linkedin.svg' %}" alt="LinkedIn" />
            </a>
          </div>
        </div>
        <div class="member-profile">
          <img
            src="{% static 'images/Muhiz-Akanni.webp' %}"
            alt="member-profile"
            class="member-profile__img"
          />
          <div class="member-profile__author">
            <h4>Muhiz Akanni</h4>
            <p class="author__role">Frontend Developer</p>
          </div>
          <div class="member-profile__social-media">
            <a href="https://twitter.com/muhiz_akanni?s=09">
              <img src="{% static 'Icons/Twitter.svg' %}" alt="Twitter" />
            </a>
            <a href="https://www.instagram.com/muakone3">
              <img src="{% static 'Icons/team-Instagram.svg' %}" alt="Instagram" />
            </a>
            <a href="https://www.linkedin.com/in/muhiz-akanni-46595b21a">
              <img src="{% static 'Icons/team-Linkedin.svg' %}" alt="LinkedIn" />
            </a>
          </div>
        </div>
        <div class="member-profile">
          <img
            src="{% static 'images/Samson-Olumoye.webp' %}"
            alt="member-profile"
            class="member-profile__img"
          />
          <div class="member-profile__author">
            <h4>Samson Olumoye</h4>
            <p class="author__role">Product Designer</p>
          </div>
          <div class="member-profile__social-media">
            <a
              href="https://twitter.com/samsonolumoye?t=UxVYQ2OEgPdWjiTSfehr_g&s=09"
            >
              <img src="{% static 'Icons/Twitter.svg' %}" alt="Twitter" />
            </a>
            <a href="#">
              <img src="{% static 'Icons/team-Instagram.svg' %}" alt="Instagram" />
            </a>
            <a href="https://www.linkedin.com/in/samson-olumoye-437041197">
              <img src="{% static 'Icons/team-Linkedin.svg' %}" alt="LinkedIn" />
            </a>
          </div>
        </div>
        <div class="member-profile">
          <img
            src="{% static 'images/AJAGBOYE-DANIEL.webp' %}"
            alt="member-profile"
            class="member-profile__img"
          />
          <div class="member-profile__author">
            <h4>Ajagboye Daniel</h4>
            <p class="author__role">Product Designer</p>
          </div>
          <div class="member-profile__social-media">
            <a href="https://twitter.com/ajagboye_daniel">
              <img src="{% static 'Icons/Twitter.svg' %}" alt="Twitter" />
            </a>
            <a href="#">
              <img src="{% static 'Icons/team-Instagram.svg' %}" alt="Instagram" />
            </a>
            <a href="https://www.linkedin.com/in/ajagboye-daniel-5621b7195">
              <img src="{% static 'Icons/team-Linkedin.svg' %}" alt="LinkedIn" />
            </a>
          </div>
        </div>
        <div class="member-profile">
          <img
            src="{% static 'images/Rejoice-Atasie.webp' %}"
            alt="member-profile"
            class="member-profile__img"
          />
          <div class="member-profile__author">
            <h4>Atasie Rejoice</h4>
            <p class="author__role">Product Designer</p>
          </div>
          <div class="member-profile__social-media">
            <a href="#">
              <img src="{% static 'Icons/Twitter.svg' %}" alt="Twitter" />
            </a>
            <a href="#">
              <img src="{% static 'Icons/team-Instagram.svg' %}" alt="Instagram" />
            </a>
            <a href="#">
              <img src="{% static 'Icons/team-Linkedin.svg' %}" alt="LinkedIn" />
            </a>
          </div>
        </div>
        <div class="member-profile">
          <img
            src="{% static 'images/Amatullahi-Mohammed.webp' %}"
            alt="member-profile"
            class="member-profile__img"
          />
          <div class="member-profile__author">
            <h4>Mohammed Amatullahi</h4>
            <p class="author__role">Product Designer</p>
          </div>
          <div class="member-profile__social-media">
            <a href="https://twitter.com/amaatuu">
              <img src="{% static 'Icons/Twitter.svg' %}" alt="Twitter" />
            </a>
            <a href="https://www.instagram.com/_amatuuu_/">
              <img src="{% static 'Icons/team-Instagram.svg' %}" alt="Instagram" />
            </a>
            <a
              href="https://www.linkedin.com/in/amatullahi-mohammed-85353a236/"
            >
              <img src="{% static 'Icons/team-Linkedin.svg' %}" alt="LinkedIn" />
            </a>
          </div>
        </div>
        <div class="member-profile">
          <img
            src="{% static 'images/Letticia.webp' %}"
            alt="member-profile"
            class="member-profile__img"
          />
          <div class="member-profile__author">
            <h4>Letticia Adimoha</h4>
            <p class="author__role">Frontend Developer</p>
          </div>
          <div class="member-profile__social-media">
            <a href="https://twitter.com/AsaAdimoha">
              <img src="{% static 'Icons/Twitter.svg' %}" alt="Twitter" />
            </a>
            <a href="https://www.instagram.com/adimohaletticia/">
              <img src="{% static 'Icons/team-Instagram.svg' %}" alt="Instagram" />
            </a>
            <a href="#">
              <img src="{% static 'Icons/team-Linkedin.svg' %}" alt="LinkedIn" />
            </a>
          </div>
        </div>
        <div class="member-profile">
          <img
            src="{% static 'images/Ola-White.webp' %}"
            alt="member-profile"
            class="member-profile__img"
          />
          <div class="member-profile__author">
            <h4>Ola White Y.</h4>
            <p class="author__role">Frontend Developer</p>
          </div>
          <div class="member-profile__social-media">
            <a href="https://twitter.com/olawhite">
              <img src="{% static 'Icons/Twitter.svg' %}" alt="Twitter" />
            </a>
            <a href="https://instagram.com/olawhite">
              <img src="{% static 'Icons/team-Instagram.svg' %}" alt="Instagram" />
            </a>
            <a href="#">
              <img src="{% static 'Icons/team-Linkedin.svg' %}" alt="LinkedIn" />
            </a>
          </div>
        </div>
        <div class="member-profile">
          <img
            src="{% static 'images/maggie.webp' %}"
            alt="member-profile"
            class="member-profile__img"
          />
          <div class="member-profile__author">
            <h4>Margaret Kagundu</h4>
            <p class="author__role">Product Designer</p>
          </div>
          <div class="member-profile__social-media">
            <a href="#">
              <img src="{% static 'Icons/Twitter.svg' %}" alt="Twitter" />
            </a>
            <a href="#">
              <img src="{% static 'Icons/team-Instagram.svg' %}" alt="Instagram" />
            </a>
            <a href="#">
              <img src="{% static 'Icons/team-Linkedin.svg' %}" alt="LinkedIn" />
            </a>
          </div>
        </div>
        <div class="member-profile">
          <img
            src="{% static 'images/Joshua-Ayoola.webp' %}"
            alt="member-profile"
            class="member-profile__img"
          />
          <div class="member-profile__author">
            <h4>Joshua Ayoola</h4>
            <p class="author__role">Product Designer</p>
          </div>
          <div class="member-profile__social-media">
            <a href="https://twitter.com/temilayoola1">
              <img src="{% static 'Icons/Twitter.svg' %}" alt="Twitter" />
            </a>
            <a href="https://www.instagram.com/jehohshua/">
              <img src="{% static 'Icons/team-Instagram.svg' %}" alt="Instagram" />
            </a>
            <a href="https://www.linkedin.com/in/jehohshua/">
              <img src="{% static 'Icons/team-Linkedin.svg' %}" alt="LinkedIn" />
            </a>
          </div>
        </div>
        <div class="member-profile">
          <img
            src="{% static 'images/Akinfoyewa.webp' %}"
            alt="member-profile"
            class="member-profile__img"
          />
          <div class="member-profile__author">
            <h4>Akinfoyewa Iyanuoluwa</h4>
            <p class="author__role">Product Designer</p>
          </div>
          <div class="member-profile__social-media">
            <a href="#">
              <img src="{% static 'Icons/Twitter.svg' %}" alt="Twitter" />
            </a>
            <a href="#">
              <img src="{% static 'Icons/team-Instagram.svg' %}" alt="Instagram" />
            </a>
            <a href="#">
              <img src="{% static 'Icons/team-Linkedin.svg' %}" alt="LinkedIn" />
            </a>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="footer_top">
        <div>
          <img
            href="{% url 'index' %}"
            src="{% static 'Icons/Group 44.svg' %}"
            alt="Logo"
          />
        </div>

        <div class="footer_links">
          <nav>
            <h3 class="footer_heading">Support</h3>
            <ul class="footer_list">
              <li>
                <a class="footer_link" href="{% url 'contact-us' %}">Contact us</a>
              </li>
            </ul>
          </nav>
          <nav>
            <h3 class="footer_heading">Library</h3>
            <ul class="footer_list">
              <li>
                <a class="footer_link" href="{% url 'library' %}">View Library</a>
              </li>
              <li>
                {% if request.user.is_authenticated %}
                <a class="footer_link" href="{% url 'saved-designs' %}">Saved Designs</a>
                {% else %}
                <a class="footer_link" href="{% url 'login' %}">Saved Designs</a>
                {% endif %}
              </li>
            </ul>
          </nav>
          <nav>
            <h3 class="footer_heading">Company</h3>
            <ul class="footer_list">
              <li>
                <a class="footer_link" href="{% url 'our-team' %}">Meet the Team</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <hr class="footer_hr" />
      <div class="footer_bottom">
        <p class="footer_copyright">© Credard Inc. 2022</p>
        <div class="social">
          <p>Follow us:</p>
          <nav>
            <ul class="social_link">
              <li>
                <a href="#" title="Twitter"
                  ><img src="{% static 'Icons/Twitter.svg' %}" alt=""
                /></a>
              </li>
              <li>
                <a href="#" title="Facebook"
                  ><img src="{% static 'Icons/Facebook.svg' %}" alt=""
                /></a>
              </li>
              <li>
                <a href="#" title="LinkedIn"
                  ><img src="{% static 'Icons/Linked in.svg' %}" alt=""
                /></a>
              </li>
              <li>
                <a href="#" title="Instagram"
                  ><img src="{% static 'Icons/Instagram.svg' %}" alt=""
                /></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </footer>
  </body>
{% endblock content %}

{% block scripts %}
<script src="{% static 'js/hamburger.js' %}" defer></script>
{% endblock scripts %}
