@import url("base.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

.card {
  display: grid;
  place-items: end center;
  row-gap: 2.5rem;
}
.card__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.375rem;
  font-family: "Montserrat", sans-serif;
}
.card-design {
  width: 31.25rem;
  height: 18.75rem;
  border-radius: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.card-design__one {
  background: url(./assets/images/bg-design-1.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.card-design__two {
  background: url(./assets/images/bg-design-4.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.card-design__three {
  background: conic-gradient(
    from 228.45deg at 61.72% 26.04%,
    #552e8c -20.95deg,
    #884fd7 30.59deg,
    #7b40ce 105.58deg,
    #c0c0c0 156.31deg,
    #5d2da2 193.74deg,
    #552e8c 339.05deg,
    #884fd7 390.59deg
  );
}
.card-design__four {
  background: url(./assets/images/bg-design-2.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.card-design__five {
  background: url(./assets/images/bg-design-3.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.card-design__six {
  background: radial-gradient(
    50.05% 57.8% at 50.05% 42.2%,
    #ff4aac 3.03%,
    #a31863 100%
  );
}

.card-design__expires {
  float: right;
  color: var(--white);
  line-height: 0.3125rem;
  margin-top: 2rem;
  margin-right: 1.25rem;
}
.card-design__expires p {
  font-size: 0.75rem;
  font-weight: 400;
}
.card-design__expires h2 {
  font-size: 1.5625rem;
  font-weight: 600;
  letter-spacing: 14%;
}
.card-design__chip {
  width: 7.5rem;
  height: 4.375rem;
  margin: 5.75rem 0 0.25rem 0.625rem;
}
.card-design__chip img {
  width: 100%;
}
.card-design__number {
  margin-left: 2.5rem;
  color: var(--white);
  margin-top: 0.75rem;
}
.card-design__number p {
  font-weight: 500;
  font-size: 2.1875rem;
  margin-top: 0;
  margin-bottom: 0;
  text-shadow: 3px 3px 1.83803px var(--black);
  letter-spacing: 0.075rem;
}
.card-design__end {
  margin: 1.875rem 0.9375rem 0.3125rem 2.5rem;
  display: flex;
  flex: 1;
  justify-content: space-between;
}
.card-design__end .card-design__author {
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-design__end .card-design__author p {
  font-weight: 600;
  font-size: 1.375rem;
  text-shadow: 1.61702px 1.61702px 0.99071px var(--black);
  margin: 0;
}
.card-design__end .card-design__logo {
  width: 2.5rem;
  height: 2.5rem;
}
.card-design__end .card-design__logo img {
  width: 100%;
}

/*Card back*/
.card__container--back .card__container__backContent {
  width: 100%;
  height: 85%;
  margin: 1.875rem 0;
  background: rgba(0, 0, 0, 0.3);
}
.backContent--black {
  margin-top: 1.25rem;
  width: 100%;
  height: 3.75rem;
  background: var(--black);
}
.backContent--white {
  width: 60%;
  height: 3.125rem;
  border-radius: 0.3125rem;
  background-color: var(--white);
  display: flex;
  margin-left: 0.9375rem;
  margin-top: 0.625rem;
  padding: 0.625rem 0 0.625rem 0.625rem;
}
.backContent--white .backContent--white__logo {
  width: 80%;
  background-image: url(./assets/images/back-card-logo.webp);
}
.backContent--white span p {
  text-transform: uppercase;
  font-style: italic;
  font-weight: 100;
  font-size: 1.375rem;
  margin-top: 0.625rem;
}
.backContent__design-end {
  margin: 1.875rem 0.9375rem 0.3125rem 2.5rem;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}
.backContent__design-end .backContent__about {
  width: 75%;
  color: var(--white);
}
.backContent__design-end .backContent__about p {
  font-size: 0.625rem;
  font-weight: 700;
  line-height: 0.9375rem;
}
.backContent__design-end .card-design__logo {
  width: 2.5rem;
  height: 2.5rem;
}
.backContent__design-end .card-design__logo img {
  width: 100%;
}
