@import "/base.css";

/* General */
* {
  margin: 0;
  padding: 0;
  font-family: "manrope", sans-serif;
  box-sizing: border-box;
}
.container {
  width: 90%;
  height: 100%;
  margin: auto;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background-color: var(--dark-purple);
  border: none;
  border-radius: 5px;
  color: var(--white);
}

.nav-div {
  padding: 1.5em 5%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5em;
}

.nav_left {
  flex: 1;
  max-width: 700px;

  display: flex;
  justify-content: space-between;
  gap: 2em;

  align-items: center;
}

.nav_menu {
  display: none;
  max-width: 450px;
  width: 100%;
}

.nav_list {
  padding-top: 0;
  flex: 1;
  min-width: 300px;

  display: flex;
  justify-content: space-between;
}

.nav_link,
.ham_link {
  color: var(--blue);
  font-weight: 600;
}

.nav_link:hover,
.ham_link:hover {
  color: var(--yellow);
}

.nav_right {
  display: none;
  gap: 1em;
}
.nav-right_auth {
  gap: 2em;
  margin-top: 1px;
}

.nav_btn{
  background-color: var(--white);
}

.nav_login,
.nav_register,
.ham_login,
.ham_register {
  border: 1px solid currentColor;
  border-radius: calc(5 / 16 * 1rem);
  color: var(--blue);
  font-weight: 800;
  padding: 0.6em 1.5em;
}

.nav_register,
.ham_register {
  background: var(--blue);
  color: var(--white);
}


/* main */
.frame {
  background-color: var(--dark-purple);
  background-image: url(./assets/Icons/frame-ellipse.svg);
  height: 9.9rem;
  color: var(--white);
}

.frame .container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-purple);
}

.frame .frame_words {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
}

.contact-area {
  margin: 5rem 0;
}

.contact-area .container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.contact-area_form,
.contact-area_image {
  width: 100%;
  overflow: hidden;
}

.contact-area_form {
  height: 100%;
  margin-top: 0;
}

.contact-area_image {
  display: none;
}

.contact-area_form label {
  color: var(--primary);
}

.contact-area_form_name {
  margin-top: 0;
}

.contact-area_form div {
  margin-top: 2rem;
}

.contact-area_form input {
  width: 100%;
  height: 3rem;
  margin-top: 0.5rem;
  border: 1px solid var(--gray);
  border-radius: 5px;
  padding-left: 1.5rem;
}

.contact-area_form textarea {
  width: 100%;
  margin-top: 0.5rem;
  border: 1px solid var(--gray);
  border-radius: 5px;
  padding: 1.5rem;
}

.contact-area_form button {
  width: 100%;
  height: 3rem;
  margin-top: 2rem;
  background-color: var(--dark-purple);
  color: var(--white);
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1rem;
}



/* Footer */
.footer {
  margin-top: 3rem;
  background: url("./assets/images/Group-117.webp") no-repeat;
  background-size: cover;
  color: var(--light-gray);

  padding: 11em 5% 3em;

  display: flex;
  flex-direction: column;
  gap: 3em;
}

.footer_hr {
  background: var(--light-gray);
  border: none;
  height: 1px;
}

.footer_top,
.footer_bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  text-align: center;
}

.footer_bottom {
  flex-direction: column-reverse;
}

.footer_list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.footer_links {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.footer_copyright {
  font-weight: 600;
}

.footer_heading {
  font-weight: 800;
  margin-bottom: 0.75em;
}

.footer_link {
  color: inherit;
  font-weight: 500;
}

.social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.social_link {
  display: flex;
  gap: 1em;
}




/* Hamburger Menu */
.ham_btn {
  background: transparent;
  color: var(--white);
  border: none;
}

.ham_menu {
  background: var(--white);
  border-radius: 0.75em;
  box-shadow: 1px 30px 30px 5px rgba(0, 0, 0, 0.22);
  font-size: 1.25rem;
  margin: 1em auto;

  left: 50%;
  transform: translateX(-50%);
  transition: all 500ms ease-in-out;
  opacity: 1;
  visibility: visible;

  padding: 2em;
  position: fixed;
  text-align: center;
  width: 90%;

  top: 15vh;
  max-width: 700px;
  line-height: 2;
  z-index: 10;
}

.ham_link {
  color: var(--blue);
}

.ham_btns {
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.ham_auth {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hide {
  display: none;
}
/* End */

/* System Screen */
@media screen and (min-width: 800px){
  .nav_menu {
    display: block;
  }

  .nav_right {
    display: flex;
  }

  .nav_btn,
  .ham_menu {
    display: none;
  }


  /* Main */
  .frame {
    background-color: var(--dark-purple);
    background-image: url(./assets/Icons/frame-ellipse.svg);
    height: 15.5rem;
    color: var(--white);
  }

  .contact-area_image {
    display: inline-block;
  }
  .contact-area_image img {
    width: 70%;
  }

  .contact-area_form input {
    width: 80%;
    height: 3rem;
    margin-top: 0.5rem;
    border: 1px solid var(--gray);
    border-radius: 5px;
    padding-left: 1.5rem;
  }

  .contact-area_form textarea {
    width: 80%;
    margin-top: 0.5rem;
    border: 1px solid var(--gray);
    border-radius: 5px;
    padding: 1.5rem;
  }

  .contact-area_form button {
    width: 80%;
    height: 3rem;
    margin-top: 2rem;
    background-color: var(--dark-purple);
    color: var(--white);
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1rem;
  }

  /* Footer */
  .footer_top,
  .footer_bottom {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }

  .footer_links {
    flex: 1;

    flex-direction: row;
    justify-content: space-between;
    max-width: 600px;
  }
} 
