@import url("base.css");

:root {
  --font-primary: "Manrope", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
}

.page_header {
  margin: auto;
  display: flex;
  width: 100vw;
  height: 12em;
  background-color: var(--dark-purple);
  align-items: center;
  justify-content: center;
  text-align: center;
}

.page_header_title {
  color: var(--white);
  font-size: 2.3rem;
  text-align: center;
}

.body_section {
  width: 100%;
  /* max-width: 1456px; */
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0px 200px 0px 200px;
}

.forgotPassword_section {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.forgotPassword_section_left {
  width: 50%;
  padding: 10rem;
}

.forgotPassword_section_left_codes {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0.75rem;
  padding: 2rem 0 2rem 0;
  text-align: center;
  color: var(--dark-purple);
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.forgotPassword_section_left_codes input {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: 2px solid var(--dark-purple);
  font-size: 1.3rem;
  text-align: center;
  color: var(--dark-purple);
}

.forgotPassword_section_left h2 {
  font-size: 2rem;
  color: var(--black);
}

.forgotPassword_section_left p {
  font-size: 1rem;
  color: var(--black);
  padding-top: 1rem;
}

form {
  margin-top: 2rem;
}

form input {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid var(--gray);
  padding-left: 1rem;
  margin-bottom: 3rem;
  margin-top: 0.5rem;
  box-shadow: 0 1px 1px 1px var(--gray);
}

form button {
  background-color: var(--dark-purple);
  width: 100%;
  height: 50px;
  color: var(--white);
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

button {
  background-color: var(--dark-purple);
  width: 100%;
  height: 50px;
  color: var(--white);
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

form label {
  color: var(--dark-purple);
  font-weight: bold;
}

.forgotPassword_section_right {
  width: 50%;
  background: url("./assets/images/forgot-password_1_right_img.png");
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: right;
}

.forgotPassword_section_verification {
  width: 50%;
  background: url("./assets/images/forgot-password_2_right_img.png");
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: right;
}

.forgotPassword_section_newPassword {
  width: 50%;
  background: url("./assets/images/forgot-password_3_right_img.png");
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: right;
}

.forgotPassword_title {
  max-width: 1725px;
  margin: auto;
  height: 5rem;
  display: flex;
  justify-content: flex-start;
}

.forgotPassword_title h2 {
  font-size: 1.5rem;
  color: var(--dark-purple);
}

/* Media Settings */

@media only screen and (max-width: 1280px) {
  .body_section {
    width: 98vw;
    padding: 0px 50px 0px 50px;
  }

  .forgotPassword_section_left {
    width: 50%;
    padding: 5rem;
  }
}

@media only screen and (max-width: 1024px) {
  .body_section {
    width: 98vw;
    padding: 0px 30px 0px 30px;
  }

  .forgotPassword_section_left {
    width: 50%;
    padding: 5rem;
  }

  .forgotPassword_section_left h2 {
    font-size: 1.5rem;
  }

  .forgotPassword_section_left p {
    font-size: 0.8rem;
  }

  form button {
    width: 100%;
    height: 45px;
    font-size: 0.8rem;
    border-radius: 5px;
    cursor: pointer;
  }

  form label {
    font-weight: bold;
    font-size: small;
  }
}

@media all and (min-width: 360px) and (max-width: 1023px) {
  .body_section {
    width: 98vw;
    padding: 0px 30px 0px 30px;
  }

  .forgotPassword_section_left {
    width: 50%;
    padding: 5rem;
  }

  .forgotPassword_section_left h2 {
    font-size: 1.5rem;
  }

  .forgotPassword_section_left p {
    font-size: 0.8rem;
  }

  form button {
    width: 100%;
    height: 50px;
    font-size: 0.8rem;
    border-radius: 5px;
    cursor: pointer;
  }

  button {
    width: 100%;
    height: 50px;
    font-size: 0.8rem;
    border-radius: 5px;
    cursor: pointer;
  }

  form label {
    font-weight: bold;
    font-size: small;
  }

  .forgotPassword_section {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  .forgotPassword_section_left {
    width: 100%;
    padding: 2rem 1rem 1rem 1rem;
  }

  .forgotPassword_section_right {
    visibility: hidden;
    display: none;
  }
}
