<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" />
    <title>Credard</title>

    <script src="./hamburger.js" defer></script>
  </head>
  <body>
    <!-- where the nav should be -->
    <header class="nav-div">
      <div class="nav_left">
        <img
          class="nav_logo"
          src="./assets/images/credard-logo-white.svg"
          alt="Credard logo"
        />
        <nav class="nav_menu">
          <ul class="nav_list">
            <li><a class="nav_link" href="#">Features</a></li>
            <li><a class="nav_link" href="#">Library</a></li>
            <li><a class="nav_link" href="#">The team</a></li>
            <li><a class="nav_link" href="#">Contact us</a></li>
          </ul>
        </nav>
      </div>
      <div class="nav_right">
        <a class="nav_login" href="#">Login</a>
        <a class="nav_register" href="#">Register</a>
      </div>
      <button id="hamburger-btn" class="nav_btn">
        <img src="./assets/Icons/menu - ham-white.svg" alt="" />
      </button>
    </header>
    <main>
      <nav id="hamburger-menu" class="ham_menu hide">
        <ul>
          <li><a class="ham_link" href="#">Features</a></li>
          <li><a class="ham_link" href="#">Library</a></li>
          <li>
            <a class="ham_link" href="#">The team</a>
          </li>
          <li><a class="ham_link" href="#">Contact us</a></li>
        </ul>
        <div class="ham_btns">
          <a class="ham_login" href="#">Login</a>
          <a class="ham_register" href="#">Register</a>
        </div>
      </nav>

      <section class="hero">
        <figure class="hero_fig">
          <div class="hero_img-c">
            <img
              class="hero_img"
              src="./assets/images/credit-cards-hero.svg"
              alt=""
            />
          </div>
          <figcaption class="hero_figc">
            <h1>
              Say bye to boring credit cards, get your own
              <span>exciting designs!</span>
            </h1>
            <div class="hero_links">
              <a class="hero_link hero_link-1" href="#">View our library</a>
              <a class="hero_link hero_link-2" href="#">How does it work?</a>
            </div>
          </figcaption>
        </figure>
      </section>
      <section class="features">
        <figure class="feature">
          <div class="feature_img-c">
            <img
              class="feature_img"
              src="./assets/images/credit-card-payment-cuate.svg"
              alt=""
            />
          </div>
          <figcaption class="feature_figc">
            <h3 class="feature_title">Upgrade your boring credit card</h3>
            <p class="feature_text">
              Pick a design from our library and print it out as sticker skin
              for your credit card.
            </p>
            <a href="#" class="feature_btn">View our library</a>
          </figcaption>
        </figure>
        <figure class="feature">
          <div class="feature_img-c">
            <img
              class="feature_img"
              src="./assets/images/code-typing-rafiki.svg"
              alt=""
            />
          </div>
          <figcaption class="feature_figc">
            <h3 class="feature_title">Get a code sample</h3>
            <p class="feature_text">
              Want to download the code for a credit card design and tweak it
              for you own project? We got you.
            </p>
            <a href="#" class="feature_btn"> Download code sample </a>
          </figcaption>
        </figure>
        <figure class="feature">
          <div class="feature_img-c">
            <img
              class="feature_img"
              src="./assets/images/designer-girl-cuate.svg"
              alt=""
            />
          </div>
          <figcaption class="feature_figc">
            <h3 class="feature_title">Download design files</h3>
            <p class="feature_text">
              Once customize a design you like, you can download the design
              files in psd, figma, adobe xd or vector formats and tweak them.
            </p>
            <a href="#" class="feature_btn"> Download design files </a>
          </figcaption>
        </figure>
        <figure class="feature">
          <div class="feature_img-c">
            <img
              class="feature_img"
              src="./assets/images/instruction-manual-rafiki.svg"
              alt=""
            />
          </div>
          <figcaption class="feature_figc">
            <h3 class="feature_title">How does it work?</h3>
            <p class="feature_text">
              Interact with our documentation to see how to go about using our
              website to create your own credit card designs.
            </p>
            <a href="#" class="feature_btn">Go to documentation</a>
          </figcaption>
        </figure>
      </section>
      <section class="register">
        <figure class="register_fig">
          <a href="#"
            ><!-- Links to register page -->
            <img src="./assets/images/signup-form-img.svg" alt="" />
          </a>
          <figcaption>
            <h2 class="register_heading">
              Create an account to enjoy all our goodies!
            </h2>
            <p class="register_text">
              You will be able to download code samples, share to social media,
              and so much more.
            </p>
          </figcaption>
        </figure>
      </section>
      <section class="faq">
        <header class="faq_header">
          <h2 class="faq_heading">Frequently asked questions</h2>
        </header>

        <details class="faq_item">
          <summary class="faq_question">
            What is Credard ?<img
              class="arrow-icon"
              src="./assets/Icons/arrow-down.svg"
              alt=""
            />
          </summary>
          <p class="faq_reply">Answer</p>
        </details>
        <details class="faq_item">
          <summary class="faq_question">
            Is Credard only for designers ?<img
              class="arrow-icon"
              src="./assets/Icons/arrow-down.svg"
              alt=""
            />
          </summary>
          <p class="faq_reply">Answer</p>
        </details>
        <details class="faq_item">
          <summary class="faq_question">
            Is Credard a free product ?<img
              class="arrow-icon"
              src="./assets/Icons/arrow-down.svg"
              alt=""
            />
          </summary>
          <p class="faq_reply">Answer</p>
        </details>
        <details class="faq_item">
          <summary class="faq_question">
            Can I only download a JPEG file ?<img
              class="arrow-icon"
              src="./assets/Icons/arrow-down.svg"
              alt=""
            />
          </summary>
          <p class="faq_reply">Answer</p>
        </details>
        <details class="faq_item">
          <summary class="faq_question">
            Is it possible to save my designs ?<img
              class="arrow-icon"
              src="./assets/Icons/arrow-down.svg"
              alt=""
            />
          </summary>
          <p class="faq_reply">Answer</p>
        </details>
      </section>
    </main>
    <footer class="footer">
      <div class="footer_top">
        <div>
          <img src="./assets/Icons/Group 44.svg" alt="Logo" />
        </div>

        <div class="footer_links">
          <nav>
            <h3 class="footer_heading">Support</h3>
            <ul class="footer_list">
              <li>
                <a class="footer_link" href="#">Contact us</a>
              </li>
            </ul>
          </nav>
          <nav>
            <h3 class="footer_heading">Library</h3>
            <ul class="footer_list">
              <li>
                <a class="footer_link" href="#">View Library</a>
              </li>
              <li>
                <a class="footer_link" href="#">Saved Designs</a>
              </li>
            </ul>
          </nav>
          <nav>
            <h3 class="footer_heading">Company</h3>
            <ul class="footer_list">
              <li>
                <a class="footer_link" href="#">Meet the Team</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <hr class="footer_hr" />
      <div class="footer_bottom">
        <p class="footer_copyright">© Credard Inc. 2022</p>
        <div class="social">
          <p>Follow us:</p>
          <nav>
            <ul class="social_link">
              <li>
                <a href="#" title="Twitter"
                  ><img src="./assets/Icons/Twitter.svg" alt=""
                /></a>
              </li>
              <li>
                <a href="#" title="Facebook"
                  ><img src="./assets/Icons/Facebook.svg" alt=""
                /></a>
              </li>
              <li>
                <a href="#" title="LinkedIn"
                  ><img src="./assets/Icons/Linked in.svg" alt=""
                /></a>
              </li>
              <li>
                <a href="#" title="Instagram"
                  ><img src="./assets/Icons/Instagram.svg" alt=""
                /></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </footer>
  </body>
</html>
