@import url("base.css");

body {
  padding: 50px;
}

.popup {
  width: 200px;
  padding: 20px 0px;
  margin: 0 auto;
  text-align: center;
}
.popup_img img {
  width: 300px;
}
.popup .popup_text {
  text-align: center;
}

.popup .popup_text h3,
.popup .popup_text p {
  padding: 9px 0px;
}

.popup .popup_btn {
  color: #ffffff;
  margin: 20px 0;
  padding: 15px 30px;
  background: #310057;
  box-shadow: 0.503265px 0.503265px 1.50979px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  width: 200px;
}
