{% extends "base.html" %}
{% load static %}
{% block title %} Login {% endblock title %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}" />
{% endblock styles %}

{% block content %}
   {% include 'auth/nav.html' with page="login" %}
    <div class="row">
      <div class="col form-col">
        <form method="POST">
          {% csrf_token %}
          <h2 class="text-center text-primary">Log In</h2>
          {% if error_message %}
            <span style="display: block; color: red">{{ error_message }}</span>
          {% endif %}
          <div class="input-group">
            <label>Email Address</label>
            <input type="email" name="email" />
          </div>
          <div class="input-group">
            <label>Password</label>
            <input type="password" name="password" />
            <span toggle="#password-field" class="toggle-password"
              ><img src="{% static 'images/Shape.svg' %}"
            /></span>
            <p class="">Forgot your password?</p>
          </div>
          <button type="submit" class="login_button">Log In</button>
          <!-- <p class="text-center">or</p>
          <button type="button" class="google_button">
            Log In with Google
            <i class="fa fa-google"></i>
          </button> -->
        </form>
      </div>
      <div class="col img-col">
        <img src="{% static 'images/rafiki.webp' %}" />
      </div>
    </div>
    {% endblock content %}
