{% extends "base.html" %}
{% load static %}
{% block title %} - Contact Us{% endblock title %}
{% block styles %} 
<link rel="stylesheet" type="text/css" href="{% static 'css/contactUs.css' %}">
{% endblock styles %}

{% block content %}
<div class="nav-div">
    <div class="nav_left">
        <a href="{% url 'index' %}">
            <img
                class="nav_logo"
                src="{% static 'Icons/Layer 3.svg' %}"
                alt="Credard logo"
            />
        </a>
      <nav class="nav_menu">
        <ul class="nav_list">
          <li><a class="nav_link" href="{% url 'how-it-works' %}">How it Works</a></li>
          <li><a class="nav_link" href="{% url 'library' %}">Library</a></li>
          <li><a class="nav_link" href="{% url 'our-team' %}">The team</a></li>
          <li><a class="nav_link" href="{% url 'contact-us' %}">Contact us</a></li>
        </ul>
      </nav>
    </div>
    {% if request.user.is_authenticated %}
    <div class="nav_right">
      <a href="{% url 'saved-designs' %}" class="nav_link">
        <img src="{% static 'Icons/Bookmark.svg' %}" alt="bookmark" />
      </a>
      <a href="{% url 'profile' %}" class="nav_link">
        <img src="{% static 'Icons/profile.svg' %}" alt="profile" />
      </a>
    </div>
    {% else %}
    <div class="nav_right">
      <a class="nav_login" href="{% url 'login' %}">Login</a>
      <a class="nav_register" href="{% url 'register' %}">Register</a>
    </div>
    {% endif %}
    <button id="hamburger-btn" class="nav_btn">
      <img src="{% static 'homepage/Icons/menu - ham-white.svg' %}" alt="" />
    </button>
</div>
<div class="nav_hamburger-menu">
  <nav id="hamburger-menu" class="ham_menu hide">
    {% if request.user.is_authenticated %}
    <ul>
      <li><a class="ham_link" href="{% url 'how-it-works' %}">How it works</a></li>
      <li><a class="ham_link" href="{% url 'library' %}">Library</a></li>
      <li>
        <a class="ham_link" href="{% url 'our-team' %}">The team</a>
      </li>
      <li><a class="ham_link" href="{% url 'contact-us' %}">Contact us</a></li>
    </ul>
    <div class="ham_auth">
      <a href="{% url 'saved-designs' %}" class="ham_link"> Saved Designs </a>
      <a href="{% url 'profile' %}" class="ham_link"> Profile </a>
    </div>
    {% else %}
    <ul>
      <li><a class="ham_link" href="{% url 'how-it-works' %}">Features</a></li>
      <li><a class="ham_link" href="{% url 'library' %}">Library</a></li>
      <li>
        <a class="ham_link" href="{% url 'our-team' %}">The team</a>
      </li>
      <li><a class="ham_link" href="{% url 'contact-us' %}">Contact us</a></li>
    </ul>
    <div class="ham_btns">
      <a class="ham_login" href="{% url 'login' %}">Login</a>
      <a class="ham_register" href="{% url 'register' %}">Register</a>
    </div>
    {% endif %}
  </nav>
</div>

<main>
    <section class="frame">
        <div class="container">
            <div class="frame_words">
                <h2>How can we help you?</h2>
                <h4>Send us a message</h4>
            </div>
        </div>
    </section>

    <section class="contact-area">
        <div class="container">
            <div class="contact-area_form">
                <div class="contact-area_form_name">
                    <label for="name">Name</label><br>
                    <input type="text" id="name">
                </div>

                <div class="contact-area_form_address">
                    <label for="email">Email Address</label><br>
                    <input type="email" id="email">
                </div>

                <div class="contact-area_form_message">
                    <label for="message">Message</label><br>
                    <textarea rows="5" id="message"></textarea>
                </div>

                <button>Send Message</button>
            </div>

            <div class="contact-area_image">
                <img src="{% static 'Icons/illustration-woman-contactUs.svg' %}" alt="">
            </div>
        </div>
    </section>
</main>

<footer class="footer">
    <div class="footer_top">
      <div>
        <img src="{% static 'homepage/Icons/Group 44.svg' %}" alt="Logo" />
      </div>
  
      <div class="footer_links">
        <nav>
          <h3 class="footer_heading">Support</h3>
          <ul class="footer_list">
            <li>
              <a class="footer_link" href="{% url 'contact-us' %}">Contact us</a>
            </li>
          </ul>
        </nav>
        <nav>
          <h3 class="footer_heading">Library</h3>
          <ul class="footer_list">
            <li>
              <a class="footer_link" href="{% url 'library' %}">View Library</a>
            </li>
            <li>
              {% if request.user.is_authenticated %}
              <a class="footer_link" href="{% url 'saved-designs' %}">Saved Designs</a>
              {% else %}
              <a class="footer_link" href="{% url 'login' %}">Saved Designs</a>
              {% endif %}
            </li>
          </ul>
        </nav>
        <nav>
          <h3 class="footer_heading">Company</h3>
          <ul class="footer_list">
            <li>
              <a class="footer_link" href="{% url 'our-team' %}">Meet the Team</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <hr class="footer_hr" />
    <div class="footer_bottom">
      <p class="footer_copyright">© Credard Inc. 2022</p>
      <div class="social">
        <p>Follow us:</p>
        <nav>
          <ul class="social_link">
            <li>
              <a href="#" title="Twitter"
                ><img src="{% static 'homepage/Icons/Twitter.svg' %}" alt=""
              /></a>
            </li>
            <li>
              <a href="#" title="Facebook"
                ><img src="{% static 'homepage/Icons/Facebook.svg' %}" alt=""
              /></a>
            </li>
            <li>
              <a href="#" title="LinkedIn"
                ><img
                  src="{% static 'homepage/Icons/Linked in.svg' %}"
                  alt=""
              /></a>
            </li>
            <li>
              <a href="#" title="Instagram"
                ><img
                  src="{% static 'homepage/Icons/Instagram.svg' %}"
                  alt=""
              /></a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
</footer>
{% endblock content %}

{% block scripts %}
<script src="{% static 'js/hamburger.js' %}"></script>
{% endblock scripts %}
