{% extends "base.html" %}
{% load static %}
{% block title %} - Home{% endblock title %}
{% block styles %} 
<link
rel="stylesheet"
type="text/css"
href="{% static 'homepage/css/index.css' %}"
/>
{% endblock styles %}

{% block content %}
<header class="nav-div">
  <div class="nav_left">
    <img
      class="nav_logo"
      src="{% static 'homepage/images/credard-logo-white.svg' %}"
      alt="Credard logo"
    />
    
    <nav class="nav_menu">
      <ul class="nav_list">
        <li>
          <a class="nav_link" href="{% url 'how-it-works' %}">How it works</a>
        </li>
        <li><a class="nav_link" href="{% url 'library' %}">Library</a></li>
        <li><a class="nav_link" href="{% url 'our-team' %}">The team</a></li>
        <li><a class="nav_link" href="{% url 'contact-us' %}">Contact us</a></li>
      </ul>
    </nav>
  </div>
  {% if request.user.is_authenticated %}
  <div class="nav_right">
    <a href="{% url 'saved-designs' %}" class="nav_login">
      <img src="{% static 'Icons/Bookmark.svg' %}" alt="bookmark" />
    </a>
    <a href="{% url 'profile' %}" class="nav_register">
      <img src="{% static 'Icons/profile.svg' %}" alt="profile" />
    </a>
  </div>
  {% else %}
  <div class="nav_right">
    <a class="nav_login" href="{% url 'login' %}">Login</a>
    <a class="nav_register" href="{% url 'register' %}">Register</a>
  </div>
  {% endif %}
  <button id="hamburger-btn" class="nav_btn">
    <img src="{% static 'homepage/Icons/menu - ham-white.svg' %}" alt="" />
  </button>
</header>
<main>
  <nav id="hamburger-menu" class="ham_menu hide">
    {% if request.user.is_authenticated %}
    <ul>
      <li><a class="ham_link" href="{% url 'how-it-works' %}">How it works</a></li>
      <li><a class="ham_link" href="{% url 'library' %}">Library</a></li>
      <li>
        <a class="ham_link" href="{% url 'our-team' %}">The team</a>
      </li>
      <li><a class="ham_link" href="{% url 'contact-us' %}">Contact us</a></li>
    </ul>
    <div class="ham_auth">
      <a href="{% url 'saved-designs' %}" class="ham_link"> Saved Designs </a>
      <a href="{% url 'profile' %}" class="ham_link"> Profile </a>
    </div>
    {% else %}
    <ul>
      <li><a class="ham_link" href="{% url 'how-it-works' %}">Features</a></li>
      <li><a class="ham_link" href="{% url 'library' %}">Library</a></li>
      <li>
        <a class="ham_link" href="{% url 'our-team' %}">The team</a>
      </li>
      <li><a class="ham_link" href="{% url 'contact-us' %}">Contact us</a></li>
    </ul>
    <div class="ham_btns">
      <a class="ham_login" href="{% url 'login' %}">Login</a>
      <a class="ham_register" href="{% url 'register' %}">Register</a>
    </div>
    {% endif %}
  </nav>

  <section class="hero">
    <figure class="hero_fig">
      <div class="hero_img-c">
        <img
          class="hero_img"
          src="{% static 'homepage/images/credit-cards-hero.webp' %}"
          alt=""
        />
      </div>
      <figcaption class="hero_figc">
        <h1>
          Say bye to boring credit cards, get your own
          <span>exciting designs!</span>
        </h1>
        <div class="hero_links">
          <a class="hero_link hero_link-1" href="{% url 'library' %}">View our library</a>
          <a class="hero_link hero_link-2" href="{% url 'how-it-works' %}">How does it work?</a>
        </div>
      </figcaption>
    </figure>
  </section>
  <section class="features">
    <figure class="feature">
      <div class="feature_img-c">
        <img
          class="feature_img"
          src="{% static 'homepage/images/credit-card-payment-cuate.webp' %}"
          alt=""
        />
      </div>
      <figcaption class="feature_figc">
        <h3 class="feature_title">Upgrade your boring credit card</h3>
        <p class="feature_text">
          Pick a design from our library and print it out as sticker skin
          for your credit card.
        </p>
        <a href="{% url 'library' %}" class="feature_btn">View our library</a>
      </figcaption>
    </figure>
    <figure class="feature">
      <div class="feature_img-c">
        <img
          class="feature_img"
          src="{% static 'homepage/images/code-typing-rafiki.webp' %}"
          alt=""
        />
      </div>
      <figcaption class="feature_figc">
        <h3 class="feature_title">Get a code sample</h3>
        <p class="feature_text">
          Want to download the code for a credit card design and tweak it
          for you own project? We got you.
        </p>
        <a href="{% url 'library' %}" class="feature_btn"> Download code sample </a>
      </figcaption>
    </figure>
    <figure class="feature">
      <div class="feature_img-c">
        <img
          class="feature_img"
          src="{% static 'homepage/images/designer-girl-cuate.webp' %}"
          alt=""
        />
      </div>
      <figcaption class="feature_figc">
        <h3 class="feature_title">Download design files</h3>
        <p class="feature_text">
          Once customize a design you like, you can download the design
          files in psd, figma, adobe xd or vector formats and tweak them.
        </p>
        <a href="{% url 'library' %}" class="feature_btn"> Download design files </a>
      </figcaption>
    </figure>
    <figure class="feature">
      <div class="feature_img-c">
        <img
          class="feature_img"
          src="{% static 'homepage/images/instruction-manual-rafiki.webp' %}"
          alt=""
        />
      </div>
      <figcaption class="feature_figc">
        <h3 class="feature_title">How does it work?</h3>
        <p class="feature_text">
          Interact with our documentation to see how to go about using our
          website to create your own credit card designs.
        </p>
        <a href="{% url 'how-it-works' %}" class="feature_btn">Go to documentation</a>
      </figcaption>
    </figure>
  </section>
  <section class="register">
    <figure class="register_fig">
      <a href="{% url 'register' %}"
        ><!-- Links to register page -->
        <img
          src="{% static 'homepage/images/signup-form-img.webp' %}"
          alt=""
        />
      </a>
      <figcaption>
        <h2 class="register_heading">
          Create an account to enjoy all our goodies!
        </h2>
        <p class="register_text">
          You will be able to download code samples, share to social media,
          and so much more.
        </p>
      </figcaption>
    </figure>
  </section>
  <section class="faq">
    <header class="faq_header">
      <h2 class="faq_heading">Frequently asked questions</h2>
    </header>

    <details class="faq_item">
      <summary class="faq_question">
        What is Credard ?<img
          class="arrow-icon"
          src="{% static 'homepage/Icons/arrow-down.svg' %}"
          alt=""
        />
      </summary>
      <p class="faq_reply">
        Credard is a web application that allows users to explore, 
        interact with and download our custom card designs in different formats.
      </p>
    </details>
    <details class="faq_item">
      <summary class="faq_question">
        Is Credard only for designers ?<img
          class="arrow-icon"
          src="{% static 'homepage/Icons/arrow-down.svg' %}"
          alt=""
        />
      </summary>
      <p class="faq_reply">
        Credard is not only for designers, it is also for developers 
        and anyone who loves great stuff.
      </p>
    </details>
    <details class="faq_item">
      <summary class="faq_question">
        Is Credard a free product ?<img
          class="arrow-icon"
          src="{% static 'homepage/Icons/arrow-down.svg' %}"
          alt=""
        />
      </summary>
      <p class="faq_reply">
        Credard is a completely free product, 
        with all it's features available for you.
      </p>
    </details>
    <details class="faq_item">
      <summary class="faq_question">
        Can I only download a JPEG file ?<img
          class="arrow-icon"
          src="{% static 'homepage/Icons/arrow-down.svg' %}"
          alt=""
        />
      </summary>
      <p class="faq_reply">
        Click on the desired credit card design on the library page, 
        then select the desired format from the download options in the page you'll be directed to.
      </p>
    </details>
    <details class="faq_item">
      <summary class="faq_question">
        Is it possible to save my designs ?<img
          class="arrow-icon"
          src="{% static 'homepage/Icons/arrow-down.svg' %}"
          alt=""
        />
      </summary>
      <p class="faq_reply">
        Yes, you can save your card designs for later.
      </p>
    </details>
  </section>
</main>
<footer class="footer">
  <div class="footer_top">
    <div>
      <img src="{% static 'homepage/Icons/Group 44.svg' %}" alt="Logo" />
    </div>

    <div class="footer_links">
      <nav>
        <h3 class="footer_heading">Support</h3>
        <ul class="footer_list">
          <li>
            <a class="footer_link" href="{% url 'contact-us' %}">Contact us</a>
          </li>
        </ul>
      </nav>
      <nav>
        <h3 class="footer_heading">Library</h3>
        <ul class="footer_list">
          <li>
            <a class="footer_link" href="{% url 'library' %}">View Library</a>
          </li>
          <li>
            {% if request.user.is_authenticated %}
            <a class="footer_link" href="{% url 'saved-designs' %}">Saved Designs</a>
            {% else %}
            <a class="footer_link" href="{% url 'login' %}">Saved Designs</a>
            {% endif %}
          </li>
        </ul>
      </nav>
      <nav>
        <h3 class="footer_heading">Company</h3>
        <ul class="footer_list">
          <li>
            <a class="footer_link" href="{% url 'our-team' %}">Meet the Team</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <hr class="footer_hr" />
  <div class="footer_bottom">
    <p class="footer_copyright">© Credard Inc. 2022</p>
    <div class="social">
      <p>Follow us:</p>
      <nav>
        <ul class="social_link">
          <li>
            <a href="#" title="Twitter"
              ><img src="{% static 'homepage/Icons/Twitter.svg' %}" alt=""
            /></a>
          </li>
          <li>
            <a href="#" title="Facebook"
              ><img src="{% static 'homepage/Icons/Facebook.svg' %}" alt=""
            /></a>
          </li>
          <li>
            <a href="#" title="LinkedIn"
              ><img
                src="{% static 'homepage/Icons/Linked in.svg' %}"
                alt=""
            /></a>
          </li>
          <li>
            <a href="#" title="Instagram"
              ><img
                src="{% static 'homepage/Icons/Instagram.svg' %}"
                alt=""
            /></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
{% endblock content %}

{% block scripts %}
<script src="{% static 'homepage/js/hamburger.js' %}" defer></script>
{% endblock scripts %}

